div.card{
    overflow-y:auto;
    height: 85%;
    margin-top: .5rem;
}

div.card-body{
    overflow-y:auto;
    height: 85%;
    padding: 0;
}

.btn-group{
    float: right;
}

.btn{
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .25rem;
}

.card-title span{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.dropdown-item:hover{
    background-color: #007bff;
}