<div class="card border">
    <div class="card-body bg-info">
      <p class="card-text text-light">
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
        <br />
        [Info]12:14:213,07-02-2018: Agent xx received message <q>yy</q>
      </p>
    </div>
  </div>
  