<div class="card">
  <div class="card-header bg-info text-light d-flex justify-content-between">
    <i class="fa fa-2x fa-ellipsis-h"></i>
    <h4><b>Agent types</b></h4>
  </div>
  <div class="card-body">
    <div class="list-group-flush">
      <div *ngFor="let type of types" class="list-group-item pl-0 pr-0">
        <div class="d-flex justify-content-between">
          {{type.name}}
          <button class="btn btn-info btn-sm" (click)="openForm(type)">&nbsp;<i class="fa fa-sm" [ngClass]="{'fa-angle-double-down': type.agentForm.opened, 'fa-angle-double-right': !type.agentForm.opened}"></i>&nbsp;</button>
        </div>
        <div *ngIf="type.agentForm.opened" class="d-flex justify-content-between mt-1">
          <input type="text" class="form-control form-control-sm mr-1" placeholder="Enter agent name here..." [(ngModel)]="type.agentForm.name"/>
          <button class="btn btn-success btn-sm" (click)="startAgent(type)">&nbsp;<i class="fa fa-play fa-sm"></i>&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</div>
