<div class="navbar">
    <span>{{userService.getCurrentLoggedUser().username}}</span>
    <button class="btn btn-primary btn-la form-inline" (click)="manageGroupForm()">New Group</button>
    <form class="form-group form-inline" *ngIf="newGroupOpen">
        <input [ngClass]="{ 'error' : groupError }" class="form-control" type="text" value="Enter group name" name="name" [(ngModel)]="name" (focus)="focusOn()"/>
        <button class="btn btn-success btn form-inline" (click)="createGroup()">OK</button>
    </form>
    <span class="nav justify-content-end">
        <button class="btn btn-primary btn-la form-inline" routerLink="./friends">Friends</button>
        <button class="btn btn-primary btn-la form-inline" routerLink="/messages">Messages</button>
        <button class="btn btn-primary btn-la form-inline" (click)="logout()">Log Out</button>
    </span>
</div>
